<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lzw.mapper.UserMapper">

    <resultMap id="c_r" type="lzw.restMap.UserDto">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="email" column="email"/>
        <result property="managerId" column="manager_id"/>

        <association property="" javaType="lzw.entity.UserDetail">
            <result property="address" column="address"/>
            <result property="phone" column="phone"/>
        </association>


    </resultMap>

    <select id="pageCanditionQuery" resultType="lzw.restMap.UserDto">
        select u.*,ud.address,ud.phone
        from user u left join user_detail ud on u.id = ud.user_id
        ${ew.customSqlSegment}
    </select>

</mapper>
